* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 35 px; }
  body header {
    width: auto;
    height: auto;
    padding: 35px;
    background-color: black;
    font-size: 75px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white; }

strong a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 35 px;
  text-decoration: none;
  transition: all .3s; }
  strong a:hover {
    color: #6b6b6b;
    text-decoration: underline; }
