.mainCarrera {
    margin: 50px 200px;
    .divCarreraTitulo {
        margin: 30px;
        .carreraTitulo {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 80px;
        }
    }
    .contenido {
        margin: 50px auto;
        &__parrafo {
            font-size: 25px;
            .html {
                color: rgb(255, 68, 0);
                text-decoration: none;
                transition: all .3s;
                &:hover {
                    text-decoration: underline;
                }
            }
            .css {
                @extend .html;
                color: blue;
            }
            .javascript {
                @extend .html;
                color: rgb(194, 194, 0);
            }
        }
    }
    .fondoDes {
        @include flex(row,space-evenly,center,wrap );
        height: 100%;
        width: 100%;
        padding: 6% 0%; 
        background-image: url(../imgs/fondodes2.jpg);
        background-attachment: fixed;
        .fondoDesIcon {
            height: 250px;
            width: auto;
            margin: 1%;
        }
    }
    .subtitulo {
        font-size: 45px;
        margin: 30px;
    }
    .divCarreraIcons {
        @include flex(row,center,
        center, wrap);
        margin: 20px auto;
        width: 100% vw;
        .carreraIcon{
            display: inline-block;
            height: 193px;  
            filter: blur(10px) grayscale(100%);
            transition: all .3s;
            &:hover{
                filter: none;
                scale: 1.4;
                z-index: 1;
            }
        }
    }
}