* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  .indexGrid {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;   
    grid-template-areas: 
    "header header"
    "divDes divRad"
    "footer footer";
    @include phone {
      grid-template-columns: auto; 
      grid-template-rows: auto auto auto auto;   
      grid-template-areas: 
        "header"
        "divDes"
        "divRad"
        "footer"; 
    }
  }
  .header { grid-area: header; }
  body .divDes { grid-area: divDes; }
  body .divRad { grid-area: divRad; }
  .footer { grid-area: footer; } 
body {
    @include mainFont;
  header {
    width: auto;
    height: auto;
    padding: 35px;
    background-color: $maincolor;
    text-align: center;
    h1 {
      font-size: 150px;
      font-family: 'Josefin Sans', sans-serif;
      color: white;
      @include tablet {
        font-size: 80px;
      }
      @include phone {
        font-size: 40px;
      }
    }
    @include tablet {
      width: auto;
      padding: 10px;
    }
    @include phone {
      padding: 10px;
    }
  }
  .divDes{   
    @include flex(column,center,center,wrap);
    margin: 40px auto 70px;
    height: auto;
    @include tablet {
      flex-direction: row;
      margin: 0;
      margin-bottom: 30px;
      width: auto;
      overflow: hidden;
    } 
    @include phone {
      margin: 0;
      width: 100%;
      overflow: hidden
    }   
    .imgDes{
      width: 550px    ;
      height: auto;
      border-radius: 50%;
      animation: imagenes;
      animation-duration: 2s;
      @include tablet {
        width: 500px;
        border-radius: 0%;
      }
      @include phone {
        height: 300px;
        width: auto;
      }
    }
    @keyframes imagenes {
      0% {scale: 1.1;
      opacity: 0;}
      100% {scale: 1;
      opacity: 1;}
    }
    button {
      @include boton(300px);     
      @include phone {
        margin: 10px;
        font-size: 20px;
        width: 250px;
        border-radius: 50px;
      }
    }
  }
  .divRad{
    @extend .divDes;
    .imgRad {
      @extend .imgDes;
    }
  }
  nav ul {
    @include flex(row,center,center,wrap);
    li {
      list-style: none;
      display: inline-block;
    }
  }
  footer {
    .marcaDeAgua {
      @include flex(column,center,center,wrap);
      color: white;
      background-color: $maincolor;
      opacity: .4;
      width: 200px;
      height: 100px;
      text-align: center;
      font-size: 30px;
      position: fixed;
      bottom: 30px;
      right: 0px;
      p {
        margin: 0px;
      }
      @include tablet {
        width: 150px;
        height: 80px;
        font-size: 20px;
      }
      @include phone {
        width: 100px;
        height: 50px;
        font-size: 15px;
        bottom: 50px;
        right: 0px;
      }
    }
    .icons {
      @include flex(row,space-around,center,wrap);
      .media {
        width: 80px;
        transition: all .2s;
        &:hover {
          transform: scale(1.2);
        }
        @include phone {
          width: 50px;
        }
      }
    }
    .copy {
      display: grid;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 20px;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      background-color: $maincolor;
    }
  }
}