* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
.container {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;   
    grid-template-areas: 
      "header header"
      "divDes divRad"
      "footer footer"; 
}
.header { grid-area: header; }
body .divDes { grid-area: divDes; }
body .divRad { grid-area: divRad; }
.footer { grid-area: footer; }

body {
  @include mainFont;
  header {
    width: auto;
    height: auto;
    padding: 35px;
    background-color: $maincolor;
    font-size: 75px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }
  .divDes{   
    margin: 40px auto 70px;
    height: auto;  
    @include flex(column,center,center,wrap);
    .imgDes{
      width: 550px    ;
      height: auto;
      border-radius: 50%;
      animation: imagenes;
      animation-duration: 2s;
    }
    @keyframes imagenes {
      0% {scale: 1.1;
      opacity: 0;}
      100% {scale: 1;
      opacity: 1;}
    }
    button {
      color: $maincolor;
      margin: 30px 20px 15px;
      cursor:pointer;
      padding: 18px; 
      font-size: 25px;
      border: 4px solid $maincolor;
      background-color: transparent;
      transition: all .3 s;
      &:hover{
        background-color: $maincolor;
        color: white;
      }
    }
  }
  .divRad{
    @extend .divDes;
    .imgRad{
      @extend .imgDes;
    }
  }
  
}




.marcaDeAgua {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  opacity: .4;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  bottom: 30px;
  right: 0px;
}
.copy{
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: black;
}