* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
.container {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;   
    grid-template-areas: 
      "header header"
      "divDes divRad"
      "footer footer"; 
}
.header { grid-area: header; }
body .divDes { grid-area: divDes; }
body .divRad { grid-area: divRad; }
.footer { grid-area: footer; }

body {
  @include mainFont;
  header {
    width: auto;
    height: auto;
    padding: 35px;
    background-color: $maincolor;
    font-size: 75px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }
  .divDes{   
    margin: 40px auto 70px;
    height: auto;  
    @include flex(column,center,center,wrap);
    .imgDes{
      width: 550px    ;
      height: auto;
      border-radius: 50%;
      animation: imagenes;
      animation-duration: 2s;
    }
    @keyframes imagenes {
      0% {scale: 1.1;
      opacity: 0;}
      100% {scale: 1;
      opacity: 1;}
    }
    button {
      @include boton(300px);
    }
  }
  .divRad{
    @extend .divDes;
    .imgRad {
      @extend .imgDes;
    }
  }
  footer {
    .marcaDeAgua {
      @include flex(column,center,center,wrap);
      color: white;
      background-color: $maincolor;
      opacity: .4;
      width: 200px;
      height: 100px;
      text-align: center;
      font-size: 30px;
      position: fixed;
      bottom: 30px;
      right: 0px;
    }
    .icons {
      @include flex(row,space-around,center,wrap);
      .media {
        width: 80px;
        transition: all .2s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .copy {
      display: grid;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 20px;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      background-color: $maincolor;
    }
  }
}
