* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
$maincolor:black;

@mixin mainFont {
    font-family: Arial, Helvetica, sans-serif;
    color: $maincolor;    
    font-size: 35 px;
}
@mixin flex ($direction, $justify, $align, $wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
body {
    @include mainFont;
    header {
        width: auto;
        height: auto;
        padding: 35px;
        background-color: $maincolor;
        font-size: 75px;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
    }
}
@import "./carrerades";
